*.html
.Rproj.user
.Rhistory
.RData
.Ruserdata
#R basics
.Rproj.user
.Rhistory
.RData
.Ruserdata
#no data
*.csv
*.txt
*.rds
*.xlsx
*.xls
*.zip
*.png
*.twbx
*.pptx
*.html

#nothing from these folders
AI/*
GIS/*
Images/*
Graphics/*
POART_o_matic/www/*
POART-o_matic/Images/*
#no data
*.csv
*.txt
*.rds
*.xlsx
*.xls
*.zip
*.png
*.twbx
*.pptx
*.html

#nothing from these folders
AI/*
GIS/*
Images/*
Graphics/*